.row{
    display: flex;
    gap: 5;
    width: 100%;
    padding: 30px;
    
}
.logout{
    width: 400px;

}
h1{
    justify-content: center;
    text-align: center;
    font-weight: bold;

}

h3{
    font-weight: bold;
    text-align: center;
}
.action{
    text-align: center;
    padding-bottom: 20px;
    .btn{
        margin-left: 10px;
    }
    .out{
        background-color: #3a2250;;
    }
  

}
