<nav class="navbar">
  <a class="navbar-brand" id="navbar" routerLink="home">{{title}}</a>
  <ul class="list">
    <li class="h"><a routerLink="/">Home</a></li>
    <li class="h"><a href="#courses">Courses</a></li>
    <li class="h"><a href="#aboutUs">About Us</a></li>
    <li class="h"><a routerLink="/signup">SignUp</a></li>
    <li><a routerLink="/login"> <button class="btn btn-outline-primary login">Login</button></a></li>
  </ul>

</nav>

<div class="image">
  <div class="image-overlay">`
    <h1>Welcome to ScholrFocus</h1>
    <button class="check btn btn-outline-primary">Get started!</button>
  </div>

  <section id="courses">
    <div class="container">
      <div class="row">
        <h2 style="font-size: 50px;margin-top: 40px;font-family: 'Times New Roman', Times, serif;color: #3a2250;">
          Current Offerings</h2>
          <div class="offer">
            <p>ICT Academy of Kerala provides the best quality education to upskill the youths across the state in various sectors. Join our courses and build your future!</p>
          </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://www.webmyne.com/images/fullstack2.png" alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">FSD</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://static.vecteezy.com/system/resources/thumbnails/006/800/445/small_2x/ai-powered-marketing-tools-illustration-exclusive-design-inspiration-vector.jpg"
                alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">ML-AI</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://static.vecteezy.com/system/resources/previews/003/090/345/original/data-structure-and-servers-vector.jpg"
                alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">DSA</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://media.buyoutsinsider.com/uploads/2021/11/Five-tips-1.jpg" alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">RPA</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://img.freepik.com/free-vector/software-tester-concept-illustration_114360-16115.jpg" alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">ST</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <div class="card-image">
              <img class="card-img-top" style="width: 19.9rem;height:16rem"
                src="https://img.freepik.com/premium-vector/cloud-computing-modern-flat-concept-web-banner-design-woman-developer-working-computer_9209-8154.jpg"
                alt="Card image cap">
              <div class="image-overlayy"></div>
            </div>
            <div class="info">
              <h2 class="card-title">CSA</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <section id="aboutUs">
    <div class="parallax">
      
      <h3>Build your Career with ICTAK</h3>
      <p>ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The
        organization had a humble beginning providing skill training programs to selected academic institutions. Over
        the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training and
        capacity-building programs in the state. </p>
      <button class="btn btn-outline-primary">Know More</button>
    
    </div>
  </section>
  <div>
    <div>
      <footer>
        <p>Fifth Avenue , 682011 , Kottayam , Kerala | Phone: 800-123-456 | Email: contact@example.com |</p>
        <p>Copyright © ScholarFocus 2024</p>
      </footer>
    </div>

  </div>
</div>